.tweet-wrapper {
	display: flex;
	flex-direction: column;

	border-radius: 15px;
	background-color: #fff;
	color: #111;
	padding: 1.6rem;
	font-weight: 400;
	font-size: 1.85rem;
	max-width: 425px;
	/* max-height: 718px; */
	align-self: flex-start;
	min-height: 500px;
}
.tweet-header {
	display: flex;
	align-items: center;
	gap: 8px;
	color: rgb(15, 20, 25);
}
.tweet-header h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-size: 1.7rem;
}

.profile-pic-bg {
	position: relative;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
}

.profile-pic {
	width: 100%;
}
.user-handle {
	color: rgb(83, 100, 113);
	font-size: 1.7rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.tweet-content {
	padding: 10px 0;
	flex-grow: 1;
}
.tweet-content > p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	/* overflow-wrap: break-word; */
	line-height: 2.4rem;
	color: rgb(15, 20, 25);
	max-width: 48ch;
}

.tweet-content > img {
	width: 100%;
	margin-top: 0.6rem;
	border-radius: 8px;
}
.marketplace-link > a {
	color: rgb(29, 155, 240);
	text-decoration: underline;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.footer {
	justify-self: flex-end !important;
}
.social-icons {
	display: flex;
	justify-content: space-around;
}
.social-icons img {
	width: 2rem;
}
