@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto+Mono:wght@400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}
*:focus {
	outline: none;
}

html {
	/* This will allow you to use 'rem' all across your project without having to use a 16rem base which is the default font-size of modern browsers. */

	font-size: 62.5%;
	overflow-x: hidden;

	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	background-color: #1a1a1a;
	/* height: 100vh; */
}
.app {
	/* height: 100vh; */
	padding-top: 3.6rem;
	color: #fff;
	max-width: 120rem;
	width: 95%;
	margin: 0 auto;

	font-size: 1.8rem;
}

.nav {
	height: 9rem;
	padding: 0 1.5rem;
	/* max-width: 90%; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	max-width: 12.5rem;
}

.logo {
	width: 50%;
}

.menu-item {
	list-style: none;
}
.twitter-icon {
	height: 2.5rem;
	width: 2.5rem;
}
h1 {
	text-align: center;
	max-width: 60rem;
	margin: 6rem auto;
	font-size: 4.8rem;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	/* text-transform: uppercase; */
}

.flow-wrapper {
	padding: 6.2rem 8rem 5rem;
	border-radius: 1.5rem;
	background-color: #272727;
	margin-bottom: 9rem;
}
form {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}
.form-heading {
	margin-bottom: 4rem;
	position: relative;
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
}
/* .form-heading::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 0.25px;
	width: 100%;
	background-color: #fff;
} */
input {
	display: block;
}
label {
	display: block;
}

.input-label {
	margin-bottom: 1.5rem;
}
/* .form-input {
	width: 100%;
} */
.submit-button {
	max-width: 350px;
	align-self: center;
}

.checkbox-group-label {
	font-size: 1.8rem;
}
.checkbox-group {
	display: flex;
	flex-direction: row;
	margin-top: 1.5rem;
	gap: 5.6rem;
}
